.Body_search {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    margin-top:2rem;
    background-color: #222;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.Body_result{
  margin-top:3rem;
}
// .Body_search{
  
//   position: absolute;
//   left: 41.5%;
//   top:4rem;
//   display: flex;  
//   z-index: 900;

// }

/* FILTER BUTTON */
.filters-button{
  border:none;
  cursor: pointer;
  width: 60px;
  cursor: pointer;
  position: absolute;
  top: 60px;
  float: right;
  right: 40px;
  &:hover{
    background:transparent;
  }
  &:active{
    background:transparent;
  }
  &:focus{
    background:transparent;
  }
}
/* ICON FILTER */
.icon-filter{
  color:#ffcb05;
  font-size:30px;
  &:hover{
    color:white;  
    border:2px solid #fff;
  }
}
.filters-show{
  background:red;
  top:40px;
}
