.footer{
    background-color: #37474f; ;
    position: fixed ;
    bottom: 0 ;
    left: 0 ;  
    right: 0 ;
    height: 2rem; 
    display: flex; 
    align-items: center;     
    justify-content: space-around;
   
}
div {
    align-items: center
  }
p{
    color:yellow;
    justify-content: center;

}
a{
    text-decoration: none;
    :hover{
        color:white;
    }
}
.social-icon{
    display:flex;
    justify-content: flex-end;
    color:white;
    padding-left:1rem;
    :first-child{
        padding:20px;
    }
}