.cards_result{  
    display: flex;
    flex-direction: row;
    align-items: center;
    //min-height: 100vh;
    padding-top:4rem;
    background-color: #222;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}